.Main__ {
  position: relative;

  img {
    filter: brightness(0.5);
    width: 100%;
    height: 50%;
    z-index: 1;
  }

  &content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 53.25%;
    // max-width: 25rem;
    // min-width: 25rem;
    margin: auto;
    z-index: 10;

    .Main__heading {
      text-transform: uppercase;
    }

    .Main__description {
      margin-block: 4rem;

      p {
        text-align: center;
        word-spacing: 3px;
      }
    }

    .Main__button {
      user-select: none;

      button {
        color: white;
        font-weight: 800;
        background: linear-gradient(to bottom, transparent 50%, white 50%);
        background-size: 100% 200%; // Double the background size vertically
        background-position: top; // Start the background from the bottom
        border: 0.25rem solid white;
        padding: 1rem 2rem;
        transition: background 0.5s, color 0.5s; // Add transition properties
        cursor: pointer;

        &:hover {
          background: white;
          color: black;
          background-position: bottom; // Move the background gradient to the top
        }
      }
    }

    .Main__heading,
    .Main__description {
      color: white;
    }
  }
}

@keyframes cover {
  0% {
    background: linear-gradient(rbga(255 255 255 /1));
    color: black;
    height: 0;
  }
  100% {
    background: linear-gradient(rbga(255 255 255 /1));
    color: black;
    height: 100%;
  }
}
