// @import "~bootstrap/scss/bootstrap";
@import "./animation";
@import "./mixins";

.Navbar__ {
  @include Navbar__;

  .container {
    .NavbarLeft__,
    .NavbarRight__ {
      @media (max-width: 991px) {
        display: none;
      }
    }

    .NavbarLeft__ {
      // * placeholder
      ul {
        li {
          // * placeholder
        }
      }
    }

    .navbar-brand {
      margin: 0;
      padding: 0;
      .NavbarMiddle__ {
        // * placeholder
        svg {
          // * placeholder
        }
      }
    }

    .NavbarRight__ {
      // * placeholder
      ul {
        li {
          // * placeholder
        }
      }
    }

    #basic-navbar-nav {
      .navbar-nav {
        // * placeholder
        .NavbarLeft__ {
        }
        // * placeholder
        .NavbarRight__ {
        }
      }
    }

    .show {
      height: fit-content;
      .navbar-nav {
        height: 100dvh;
        .NavbarLeft__,
        .NavbarRight__ {
          @media (max-width: 991px) {
            display: block;

            ul {
              flex-direction: column;

              span {
                display: none;
              }
            }
          }
        }

        .NavbarRight__ {
          margin-top: 4rem;
        }
      }
    }
  }

  .NavbarLeft__,
  .NavbarRight__ {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    color: white;
    padding: 2rem;

    ul {
      display: flex;

      li {
        list-style: none;
        padding: 1em;
        padding-top: 2rem;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

// * Navbar components

.NavbarLeft__ {
  @include NavbarLeft;
}

.NavbarMiddle__ {
  @include NavbarMiddle__;
}

.NavbarRight__ {
  @include NavbarRight__;
}

// * Bootstrap React
.container {
  @media (min-width: 768px) {
    max-width: 100% !important;
    padding-left: 0;
  }
}

.navbar-nav {
  background: #2e2e2e;
}

// * Custom

.square {
  border: 2px solid black;
  height: 0.5rem;
  width: 0.5rem;
  margin: auto;
  margin-top: 2.5rem;
}

.hidden {
  display: none;

  @media (max-width: 991px) {
    display: block !important;
  }
}
