// @import "~bootstrap/scss/bootstrap";
@import "./animation";
@import "./mixins";

.Navbar__ {
  @include Navbar__;

  .container {
    .NavbarLeft__,
    .NavbarRight__ {
      @media (max-width: 991px) {
        display: none;
      }
    }

    .navbar-brand {
      margin: 0;
      padding: 0;
    }

    .show {
      height: fit-content;

      .navbar-nav {
        height: 60dvh;
        // border: 3px solid grey;
        // border-radius: 1em;
        // margin-top: 1.5rem;

        .NavbarLeft__,
        .NavbarRight__ {
          @media (max-width: 991px) {
            display: block;

            ul {
              flex-direction: column;
              padding-left: 0;

              span {
                display: none;
              }
            }
          }
        }

        .NavbarRight__ {
          margin-top: 4rem;
        }
      }
    }
  }

  .NavbarLeft__,
  .NavbarRight__ {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    color: white;
    padding: 2rem;

    ul {
      display: flex;

      li {
        list-style: none;
        padding: 1em;
        padding-top: 2rem;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

// * Navbar components

.NavbarLeft__ {
  @include NavbarLeft;
}

.NavbarMiddle__ {
  @include NavbarMiddle__;
}

.NavbarRight__ {
  @include NavbarRight__;
}

// * Bootstrap React
.container {
  @media (min-width: 768px) {
    max-width: 100% !important;
  }
  @media (min-width: 576px) {
    max-width: 100% !important;
  }
}

.navbar-nav {
  background: #2e2e2e;
}

// * Custom

.square {
  @include square;
}

.hidden {
  @include hidden;
}
