.Gallery__ {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  color: white;

  &header {
  }

  &container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    img {
      aspect-ratio: 16/8;
      object-fit: cover;
      margin-inline: 0.25rem;
      width: 20rem;
    }
  }
}
