@import "./mixins";

.Gallery__ {
  @include Gallery__;

  &header {
    @include Gallery__header;

    h3 {
      @include Gallery__header__h3;
    }
  }

  &wrapper {
    @include Gallery__wrapper;

    svg {
      @include Gallery__wrapper_svg;
    }

    &_container {
      @include Gallery__wrapper_container;

      .image-container {
        @extend .Gallery__wrapper_container;

        img {
          @include Gallery__container_img;
        }
      }
    }
  }
}

.not-selected {
  filter: saturate(0.5);
}

.selected {
  transform: scale(1.33);
  z-index: 10;

  @media (max-width: 767px) {
    transform: scale(1.05);
  }
}
